# VSCode uporabniške nastavitve
.vscode/

# LaTeX outputs
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.toc
*.fls
*.log
*.out
*.pdf
*.pyc
*.synctex.gz

# Ignore LaTeX outputs in subfolder recursively
06-uvod-v-latex/**

# MacOS
__MACOSX
.DS_Store

# Windows
Thumbs.db

# Python
__pycache__/
